* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/djLighting.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.bodyMedia {
    background-image: url("../img/recordplayer.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.bodyContact {
    background-image: url("../img/disco.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

h4 {
    color: maroon;
}

div.jumbotron {
    background: rgba(0, 0, 0, 0.5);
}

.header {


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: #f5f5f5;
}

.header h1 {
    display: inline-block;
    font-family: 'Audiowide', cursive;
    ;
    font-size: 48px;
}

.header h1 .dj {
    color: maroon;
}

.header h1 .louch {
    color: maroon;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

#current {
    color: maroon;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

.section {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #f5f5f5
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    color: cornsilk;
    text-align: center;
}
